body {
    margin: 0;
    background: #E5E5E5;
  }

.profile{
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}

.profile img{
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 15px auto;
}

.profile h7{
  color: #ffffff;
  margin: 5px 0 0;
}

.profile p{
  color: rgb(206, 240, 253);
  font-size: 13px;
}

p{
    font-family: 'arial';
    font-weight: lighter;
    font-size: 15px;
    color: #19202b;
}
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #19202b;
    position: fixed;
    height: 100%;
    overflow: hidden;
  }

  img{
      width:200px;
  }

  .cat{
      font-size: 15px;
      padding: 10px;
      color: aliceblue;
      background-color: #0f1217;
      font-family: 'Concert One';
  }
  
  li a {
    font-family: Arial, sans-serif;
    font-size: 14px; 
    display: block;
    color:white;
    padding: 12px 10px;
    text-decoration: none;
  }
    
  li a:hover{
    background-color: #555;
    color: white;
  }

  .container{
      margin-top: 15px;
      display: grid;
      grid-template-columns: auto auto auto auto auto auto;
      /* background-image: url('../image/try-out.jpg'); */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      grid-row-gap: 5px;
      background-color: white;
      padding: 0px;
  }

  .item{
    font-family: sans-serif;
    height: auto;
    padding-bottom: 20px;
    background-color: whitesmoke;
    grid-column-start: 2;
    grid-column-end: 6;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    font-size: 20px;
    text-align: left;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;  }

  .item h2{
      padding-left: 25px;
      padding-top: 20px;
      font-size: 30px;
      font-weight: bold;
      color: #0C4B74;
      font-family: 'Concert One';
  }

  .item h4{
    color: #0C4B74;
    font-family: 'Concert One';
    padding-left: 25px;
    padding-right: 25px;
  }

  .item p{
    padding-left: 25px;
    padding-right: 25px;
    font-family: 'arial';
    font-size: 15px;
    color: #19202b;
  }

  .item #to{
    color: white;
    background-color: #0C4B74;
    border-radius: 5px;
    padding: 10px;
    margin-left: 25px;
  }

  .container-2{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    grid-row-gap: 5px;
    padding: 0px;
}



.item-3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.8);
    grid-column-start: 2;
    grid-column-end: 4;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    width: 250px;
    height: auto;
    font-size: 30px;
    text-align: center;
    transition:.3s;
  }

  .item-3:hover{
    width: 400px;
  }

  #lebih_lanjut{
    font-family: Arial, Helvetica, sans-serif;
    transition: .5s;
  }

  #lebih_lanjut:hover{
    padding: 20px;
    background-color:#162e40;
    color: #e7e9e9;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .item-4{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.8);
    grid-column-start: 5;
    grid-column-end: 7;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    height: auto;
    width: 250px;
    font-size: 30px;
    text-align: center;
    transition: .3s;
  }

  .item-4:hover{
    width: 400px;
  }

  h4{
    color: #0C4B74;
    font-family: 'Concert One';
  }
  
  .item-5{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: rgba(255, 255, 255, 0.8);
    grid-column-start: 8;
    grid-column-end: 10;
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    width: 250px;
    height: auto;
    font-size: 30px;
    text-align: center;
    transition: .3s;
  }

  .item-5:hover{
    width: 400px;
  }
  
  a {
      text-decoration: none;
  }

  #lebih_lanjut{
    color: white;
    background-color: #0C4B74;
    border-radius: 5px;
    padding: 10px;
    font-size: 15px;
  }

  .header{
      display: grid;
      grid-template-columns: auto auto;
      margin-left:20%;
      padding:8px 16px;
      height:43px;
      background: #0C4B74; 
      color: white; 
      width: 80%; 
      position: fixed;
  }

  .header-div{
      text-align: left;
      font-size: 15px;
      font-family: 'Concert One';
      padding-top: 0px;
  }

  .profile-div{
      text-align: right;
  }

  .profile-content{
    background: #162e40;
  }

  table, th, td {
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding:5px ;
    border-top: 1px solid #0f1217;
    border-left:1px solid #0f1217;
    border-bottom: 1px solid #0f1217;
    border-right: 1px solid #0f1217;
    border-collapse: collapse;
  }

  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    text-align: center;
    padding-left: 15px;
    background-color: #162e40;
    color: white;
    width: 200px;
    height: 50px;
  }

  td{
    padding-top: 10px;
    padding-left: 15px;
  }

  .logo{
    background-color: #0C4B74;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto ;
  }

  .logo li{
    font-family:'Concert One';
    color: #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -5px;
  }

  .logo img{
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color:  #0C4B74;
    height: 30px;
    width: 30px;
  }

  i {
    width: 20px;
    margin-right: 5px;
  }

  .content-3{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    height: 70px;
  }

  .content-3 h3{
    font-size: 30px;
    font-family: 'Concert One';
    color: #0C4B74;
    grid-column-start: 4;
    grid-column-end: 6;
  }

  footer{
    position: fixed;
    bottom: 5px;
    width: 100%;
    padding-top: 3px;
    padding-left: 10px;
    font-size: 10px;
    color: #ddd;
  }

  .nav-soal{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background: white;
    width: 90%;
    height: 250px;
    overflow-y: scroll;
    margin: 10px;
  }

  .nav-soal:hover{
    cursor: pointer;
  }

  .nav-soal .items-prob{
    box-shadow: #0f1217;
    color: white;
    border: 1px solid black;
    background-color: gold;
    text-align: center;
    margin: 5px;
    width: 25px;
    height: 25px;
    font-size: 10px;
  }

  .nav-soal .items-1{
    box-shadow: #0f1217;
    color: white;
    border: 1px solid black;
    background-color: grey;
    text-align: center;
    margin: 5px;
    width: 25px;
    height: 25px;
    font-size: 10px;
  }
  .nav-soal .items{
    border: 1px solid black;
    text-align: center;
    margin: 5px;
    width: 25px;
    height: 25px;
    font-size: 10px;
  }

  .soal-to{
    background-color: white;
    display: grid;
    padding: 30px 10px 30px 10px;
    grid-template-columns: auto auto auto auto auto;
  }

  .soal-to .number{
    padding-top: 12px;
    width: 50px;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .soal-to .soal{
    grid-column-start: 3;
    grid-column-end: 6;
  }

  .container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .container-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }

  .container-radio input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }

  .container-radio .checkmark:after {
    top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
 }

 .tombol{
  display: grid;
  padding: 30px 10px 30px 10px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
}

.prob{
  grid-column-start: 2;
  grid-column-end:3 ;
}

.prob button{
  background-color: gold;
}

.prob button:hover{
  cursor: pointer;
}

.next{
  text-align: center;
  background-color: grey;
  padding: 5px;
  margin: 0px 10px 0px 5px;
  grid-column-start: 9;
  grid-column-end: 10;
}

.finish{
  text-align: center;
  background-color: #2196F3;
  padding: 5px;
  margin-right: 10px;
  grid-column-start: 10;
  grid-column-end: 11;
}

.number-soal{
  text-align: center;
  margin-right: 5px;
  padding: 5px 0px 5px 0px;
  grid-column-start: 8;
  grid-column-end: 9;
}

.back{
  text-align: center;
  background-color: grey;
  padding: 5px;
  margin: 0px 10px 0px 5px;
  grid-column-start: 7;
  grid-column-end: 8;
}

.title-content{
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: 'Concert One';
}

.profile{
  display: grid;
  grid-template-columns: auto;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  background-color: #19202b;
  height: auto;
}

.content-prof{
  text-align: center;
}

/* .prof-acc{
  color: white;
  width: 100%;
  padding: 10px;
  background-color: #2196F3;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 10px #888888;
} */

input[type="submit"]{
  margin-top: 20px;
  width: 100%;
  height: 50px;
  border: none;
  background: #2691d9;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 500px;
  cursor: pointer;
  outline: none;
  /* margin-left: 50px; */
}

input[type="submit"]:hover{
  border-color: #2691d9;
  transition: .5s;
  background-color: #05f535;
}


.prof-img img{
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 250px;
  border-radius: 50%;
}


#to{
  transition: .5s;
  padding: 10px;
}

#to:hover{
  padding: 20px;
  background-color: #162e40;
  color: #e7e9e9;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h6{
  font-family: Arial, sans-serif;
  font-size: 15px;
}

#so_name{
  transition: .5s;
}

#so_name:hover{
  color: #2196F3;
  font-weight: bold;
  font-size: 20px;
}

.page-content{
  margin-left:20%;
  padding:40px 16px;
  height:auto;
}

.container-3{
  display: none;
}


.responsive-toggle{
  display: none;
}

#tit-prof{
  color: white;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.val-profile{
  color: white;
}




/*RESPONSIVE*/
@media only screen and (max-width: 780px) {
 ul{
   display:none;
 } 

 .responsive-toggle{
   display: block;
 }

 .page-content{
  margin: 0;
 }

 .header{
   display: none;
 }

 .container-2{
  display: none;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  grid-row-gap: 5px;
  padding: 0px;
}

.container-3{
  display: grid;
  grid-template-columns: auto;
  width: 100%;
}

.content-item{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgba(255, 255, 255, 0.8);
  /* grid-column-start: 2;
  grid-column-end: 4; */
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
  grid-gap: 5px;
  margin: 10px 0px 10px 0px;
  padding: 20px;
  width: 100%;
  height: auto;
  font-size: 30px;
  text-align: center;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #19202b;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  list-style-type: none;
}

.sidepanel a {
  font-family: Arial, sans-serif;
  font-size: 12px; 
  display: block;
  color:white;
  padding: 12px 10px;
  text-decoration: none;
  position: relative;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}

.openbtn {
  text-align: left;
  /* width: 100%; */
  font-size: 15px;
  cursor: pointer;
  background-color: #0c4b74;
  color: white;
  padding: 10px 15px;
  border: none;
}



ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  position: fixed;
  height: 100%;
  overflow: hidden;
}

img{
    width:200px;
}

.cat{
    list-style-type: none;
    font-size: 13px;
    padding: 10px;
    color: aliceblue;
    background-color: #0f1217;
    font-family: 'Concert One';
}

#footer{
  position: relative;
  bottom: 0px;
  width: 100%;
  padding-top: 3px;
  padding-left: 10px;
  font-size: 10px;
  color: #ddd;
}

.logo{
  width: 100%;
  background-color: #0C4B74;
}

#resp-profile{
  display: block;
  width: 30%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

h5{
  font-family: arial;
  font-size: 13px;
  color: black;
  font-weight: bold;
  text-align: center;
}

h6{
  font-family: arial;
  font-size: 12px;
  color: black;
  font-weight: bold;
  text-align: center;
}

p{
  color: black;
}

#name-prof{
  color: #ddd;
}

#email-prof{
  color: #ddd;
}

}